{%extends "registration/base.html"%} {% load bootstrap3 %}{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://www.instagram.com/static/images/homepage/screenshot1.jpg/d6bf0c928b5a.jpg"
                            alt="logo" style="margin-left:20px;height: 400;width: 450;">
                    </div>
                    <div class="col-md-6">
                        <img src="https://www.instagram.com/static/images/homepage/screenshot5.jpg/0a2d3016f375.jpg" alt="">
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">
            {% if form.errors %}
            <p class="alert alert-danger">Some Information may be incorrect</p>
            {% endif %}

            <div class="card card-cascade">
                <div class="card-body card-body-cascade ">
                    <h1 class="text black-text card-header text-center" style="font-family: 'Lobster Two', cursive;">
                        Instagram</h1> <br>
                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Sign in</strong>
                    </h5>
                    <form action="/accounts/register/" method="POST" style="color:#757575;">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-info btn-md text-center" value="Sign Up"
                                style="text-align:center;">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}