{% extends 'base.html' %}
{% block content %}

<div class="row">
<div class="col-md-10">
<div class="row">
    {% for image in images %}
    <div class="col-md-4">
        <div class="card animated zoomInRight">
            <div class="card-title" >
                <img src="{{user.profile.profile_photo.url}}" alt="" width="40" height="45" data-toggle="modal" data-target="#myModal{{image.id}}" >
                <a href="{% url 'profile' username=image.profile.username %}">{{image.profile}}</a>
            </div>
            <div class="card-img-top ">
                <img src="{{image.image.url}}" alt="" class="rgba-red-slight i" width="100%" height="350">
            </div>
            <div class="card-footer">
                <h2></h2>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

</div>
<div class="col-md-2">
    <div class="card testimonial-card">
        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>
      
        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="{{user.profile.profile_photo.url}}"  alt=" avatar" height="100" width="100">
        </div>
      
        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title text-center pink-text"> {{user.username}}</h4>
          <hr>
          <!-- Quotation -->
        </div>
        <ul class="list-inline">
                <li class="list-inline-item">
                    <span class="font-weight-bold">{{user.images|length}} </span> Posts
                </li>
                <li class="list-inline-item">
                    <span class="font-weight-bold">{{followers|length}}</span> Followers
                </li>
                <li class="list-inline-item">
                    <span class="font-weight-bold">{{following|length}}</span> Following
                </li>
            </ul>
      </div>
      <!-- Card -->
   
</div>
</div>
{% for image in images %}
<div id="myModal{{image.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{image.profile}}</h4>
            </div>
            <div class="modal-body">
                <img src="{{image.images.url}}" class="img-responsive" alt="Image">
            </div>
            <div class="modal-footer">
                <p data-dismiss="modal">{{image.caption}}</p>
            </div>

        </div>
    </div>
</div>
</div>
{% endfor %}

{% endblock %}