<style>
 
  #post{
    background: #e53935;
    color:white;
    padding: 5px;
  }
  #post:hover{
    background:#FF5252;
  }

</style>
<header>
  <nav style="background-color:white;">
    <div class="navbar mx-5">
      <div class="navbar-brand">
        <i class="fab fa-instagram" style="font-size:30px;" id="heading">Instagram</i>

      </div>
      <div class="nav-search">
        <form class="form-inline md-form form-sm active-pink active-pink-2 mt-2">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="nav-right">
          <a href=""><i class="far fa-compass" style="
          font-size:20px;"></i></a>
        <a class="newpost mr-5" id="post">+ NEW POST</a>
      
        <img src="" alt="" />
        <a href="{% url 'profile' %}" class="avatar">
          <img class="rounded-circle" alt="" src="{{user.profile.profile_photo.url}}" height="60" width="45" />
        </a>
      </div>
    </div>
  </nav>
</header>